Hardware/schematics/Schematic.s#1
Hardware/schematics/BlueDaq_V1.0.s#1
Hardware/schematics/BlueDaq_V1.0.brd
Hardware/schematics/BlueDaq_V1.0.b##
*.job
Hardware/schematics/BlueDaq_V1.0.b#2
Hardware/schematics/.BlueDaq_V1.0.sch.lck
*.lck
Hardware/schematics/BlueDaq_V1.0.b#1
Hardware/schematics/BlueDaq_V1.0.s#2
Hardware/schematics/BlueDaq_V1.0.b#5
Hardware/schematics/BlueDaq_V1.0.b#4
*.b#3
*.b#6
*.b#7
*.b#8
Hardware/schematics/BlueDaq_V1.0.b#9
Hardware/New Layout/BlueDaq_V1.0.b#1